<div class="widget tag">
<h3 class="title">简介</h3>
<ul class="entry">
<li>姓名：明石生</li>
<li>现状：从事了5年销售工作。2年终端销售，2年渠道开发，1年工程销售，目前对销售工具化、r语言、数据分析比较感兴趣。
<li>想要交友的朋友请<a href="http://xiaofeiyu.github.io">联系我</a>！</li>
<li>qq号：422763633</li>
</ul>
</div>

